html {
    font-size: 22px;
    font-family: 'Roboto', sans-serif; /* Updated font */
}
body {
    background: url('download.jpeg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #333;
}

.login-box {
    width: 300px;
    margin: 150px auto; /* Adjusted margin to make the box lower */
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.login-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box input[type="email"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box input[type="submit"] {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #8C1515; /* Updated color */
    color: white;
    cursor: pointer;
}

.login-box input[type="submit"]:hover {
    background: #6B0F0F; /* Darker shade for hover effect */
}

.code-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px; /* Added gap between input boxes */
}

.code-input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 22px;
    border: 1px solid #ccc;
    border-radius: 5px;
}