html {
    font-size: 22px;
    font-family: 'Roboto', sans-serif; /* Updated font */
}

body {
    background: url('../images/background.png') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #333;
    height: 100vh; /* Ensure the body takes the full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Remove default margin */
}

.login-box {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-box h4 {
    text-align: center;
}

.login-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box input[type="email"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-box button {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #8C1515; /* Updated color */
    color: white;
    cursor: pointer;
}

.login-box button:hover {
    background: #6B0F0F; /* Darker shade for hover effect */
}

.button-group {
    display: flex;
    justify-content: space-between;
    width: 80%;
    gap: 10px; /* Added gap between buttons */
}

#clear-button {
    background-color: #8C1515;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

#clear-button:hover {
    background-color: #6B0F0F;
}

.grey-text {
    color: grey;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 20px;
}

.code-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px; /* Added gap between input boxes */
}

.code-input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 22px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
